body{
    background-color: #f4c2c2;
}

.left-image{
    background: url(lady-image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.grey-area{
    background-color:#f9f9f9;
}

.list-group-item{
    background-color:#f9f9f9;
}

.container{
    margin-top: 5%;
    margin-bottom: 5%;
}